@charset "UTF-8";
/*
    Para esconder um texto basta usar o '>' indicando o filho do principal texto e depois colocar 
    display: none; para reaparecer basta usar o 
    display: blcok;
*/
div > p {
    display: none;
}
div:hover > p{
    display: block;
    color: brown;
    background-color: black;
    width: 100px;
}
div:hover {
    color: aqua;
}